// IMPORTS
@import "imports/_variables.scss";
@import "imports/_mixins.scss";
@import "imports/_extends.scss";

/*.responsive {
  .classes_responsive {
    height: 420px;
  }
}
*/
// sous-menu
.sous-menu {
  display: flex;
  width: 100%;
  background-color: $sous-menu;
  height: $navHeight;
  color: $lightWhite;
  ion-icon {
    display: inline-block;
    color: $lightWhite;
    font-size: 2em;
  }
  h3 {
    float: left;
    @extend .w-xs-10 , .w-sm-8 , .w-md-8 , .w-lg-8 ;
    line-height: $navHeight;
  }
  a {
    display: inline-block;
    height: auto;
    margin-top: 22px;
  }
  .flecheGauche {
    float: left;
    @extend .w-xs-1 , .w-sm-2 , .w-md-2 , .w-lg-2 ;
    height: $navHeight;
  }
  .flecheDroite {
    float: right;
    @extend .w-xs-1 , .w-sm-2 , .w-md-2 , .w-lg-2 ;
    height: $navHeight;
  }
  @include box-shadow;
}
@media screen and (max-width: 480px) {
  .sous-menu {
    h3 {
      font-size: 1em;
      line-height: 40px;
    }
    ion-icon {
      font-size:1.5em;
    }
  }
  .exercices article .titre p {
   text-align: left!important;
  }
  .difficulte_temps {
    margin-bottom: 20px;
  }
  .exercices article .titre h3 {
    margin-bottom: 20px;
  }
}

main {
  background-color: #d9e0e6;
  padding-bottom: 50px;
}
.cours {
  display: inline-block;
  height: auto;
  width: 100%;
  padding-top: 15px;
  background-color: $fond;
  //background-color: $lightBlack;
  h4 {
    background-color: $cours_titre;
    display: inline-block;
    width: auto;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 1.3em;
  }
  p {
    width: 100%;
    text-align: left;
    ion-icon {
      cursor: pointer;
      color: $darkBlue;
      opacity: .6;
      text-align: left;
    }
  }
  article {
    display: inline-block!important;
    width: 80%;
    .principal {
      p {
        margin-left: 20px;
      }
      p::before {
        content:"●";
      }
    }
    h5 {
      margin-top: 10px;
      text-align:left;
      font-size: 1.2em;
    }
    .video {
      //float: right;
      display: flex;
      ion-icon {
        color: $red;
        opacity: 1;
      }
    }
    .video::before {
      content:"★";
      margin-right: 10px;
      padding-top: 10px;
    }
  }
  @include box-shadow;
  padding-bottom: 30px;
}

.opened {
  display: inline-block!important;
  text-align: center;
  width: 95%!important;
  padding: 10px 0px;
  margin: 5px 0px;
  @include box-shadow;
  background-color: rgba(0, 0, 0, 0.1);
  p {
    text-align: left;
    width: 100%;
    border-radius: 5px;
    div {
      margin-bottom: 10px;
      display: inline-block;
      text-align: left;
      width: 100%;
      height: 100%;
    }
  }
}
.closed {
  display : none;
}
.exercices {
  background-color: $exercice_fond;
  padding-bottom: 20px;
  margin: 50px auto 0px auto;
  width: 90%;
  max-width: 2000px;
  @include center;
  @include box-shadow ;
  article {
    @extend .wrapper ;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    .titre {
      display: inline-block;
      width: 100%;
      height: auto;
      color: $lightWhite;
      h3 {
        @extend .w-xs-12 , .w-sm-12 , .w-md-8 , .w-lg-8 ;
        float: left;
        text-align: left;
      }
      p {
        @extend .w-xs-12 , .w-sm-12 , .w-md-4 , .w-lg-4 ;
        text-align: right;
        float: right;
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 5px;
        ion-icon {
          margin-left: 10px;
          color: $red;
          font-size: 1.5em;
          margin-bottom: -7px;
        }
      }
    }
    .exercice_container {
      @extend .w-xs-12 , .w-sm-12 , .w-md-9 , .w-lg-9 ;
      float: left;
      background-color: $lightWhite;
      border-radius: 2px;
      padding: 10px;
      p {
        text-align: justify;
      }
    }
    .difficulte_temps {
      @extend .w-xs-12 , .w-sm-12 , .w-md-3 , .w-lg-3 ;
      float: right;
      .temps {
        width: 50px;
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
        padding-top: 10px;
      }
      .difficulte {
        display: block;
        width: 150px;
        margin: 0 auto;
      }
    }
  }
}
.exercices article:not(:last-child){
  border-bottom: 2px solid rgba(255,255,255,0.5);
}

table {
  border-collapse:collapse;
}
td {
  border: 1px solid $lightBlack;
}

//MathJax-script
p {
  height: auto;
}
span {
  display: inline-flex;
  mjx-container {
    display: inline-flex;
    margin: 0px!important;
  }
}
h5 {
  height: auto;
  span {
    display: inline-flex;
    mjx-container {
      margin: 0px!important;
    }
  }
}
