// IMPORTS
@import "imports/_variables.scss";
@import "imports/_mixins.scss";
@import "imports/_extends.scss";

/*.responsive {
  .classes_responsive {
    height: 420px;
  }
}
*/
.topnav {
  @include box-shadow;
}
main {
  h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 30px 0px;
  }
  article {
    @extend .wrapper ;
    @include box-shadow;
    background-color: $fond;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 20px auto;
    h4 {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 auto;
      margin-bottom: 15px;
      background-color: $cours_titre;
      border-radius: 5px;
      font-size: 1.3em;
    }
    a {
      color: $lightBlack;
      display: inline-block;
      width: 95%;
      margin: 5px 0px;
      //padding-bottom: 3px;
      //padding-top: 3px;
      p {
        border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
        height: auto;
        display: inline-block;
        width: 100%;
        span {
          display: inline-flex;
          mjx-container {
            margin: 0px!important;
          }
        }
      }
    }
    a:hover {
      @include box-shadow;
      background-color: rgba(0, 0, 0, 0.1);
      transition: all .1s;
    }
    ion-icon {
      font-size: 1.5em;
      float: right;
      display: inline-block;
    }
    p {
      display: inline-block;
      text-align: left;
      width: 90%;
    }
  }
}

.ok {
  color: $emerald;
}

.afaire {
  color: $red;
}
