//variables

// colors
$fond: #EBD9FA;
$fond2: #d9e0e6;
$cours_titre: #cc8abf;
$exercice_fond: #729179;
$emerald: #2ecc71;
$blue: #74b9ff;
$lightBlue:#31a2ff;
$darkBlue: #0a4a82;
$white: #ffffff;
$lightWhite: #fafafa;
$black: #000;
$lightBlack:#1d1d1d;
$navBlack: #262626;
$gray: #605e69;
$lightGray: #706d78;
$shadow: rgba(#000000, 0.3);
$rose: #f06060;
$orange: #f8965a;
$red: #c0392b;
$sous-menu: #3a556a;
// fonts
$roboto: 'Roboto', sans-serif;
$spectral: 'Spectral', serif;

//heights
$navHeight: 80px;

//widths
$w-1: 8.33333333%;
$w-2: 16.66666667%;
$w-3: 25%;
$w-4: 33.33333333%;
$w-5: 41.66666667%;
$w-6: 50%;
$w-7: 58.33333333%;
$w-8: 66.66666667%;
$w-9: 75%;
$w-10: 83.33333333%;
$w-11: 91.66666667%;
$w-12: 100%;
