@import "../../../scss/imports/_variables.scss";
@import "../../../scss/imports/_mixins.scss";
@import "../../../scss/imports/_extends.scss";

table {
  border-collapse:collapse;
}
td {
  border: 1px solid $lightBlack;
}

.premiere_ligne {
  td {
    width: 50px;
  }
}
@media screen and (max-width: 480px) {
  tr>td {
    td {
      width: auto;
    }
  }
}
table {
  tr {
    height: 50px;
  }
}

.ytb {
  color: $red!important;
  opacity: 1!important;
}
.ytb_link:hover {
  border-bottom: 1px solid $lightBlack;
}
  .exercice_container {
    p {
      display: inline-block;
      width: auto;
      padding-left: 2%;
      padding-right: 2%;
    }
  }
